In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_excel('11658_2022_316_MOESM2_ESM.xlsx', )

In [6]:
df.head()

,Gene ID,Gene Symbol,Type,control1 Read Count,control2 Read Count,control3 Read Count,control4 Read Count,model1 Read Count,model2 Read Count,model3 Read Count,model4 Read Count,model Average Read Count,control Average Read Count,log2 (model/control),Pvalue(control-vs-model),Qvalue (control-vs-model)
0,258300,Olfr1449,mRNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,74277,Chic2,mRNA,773.63,740.03,759.78,799.81,675.27,762.6,751.19,736.69,731.4375,768.3125,-0.125574,0.000750,0.003355
2,104183,Chil4,mRNA,0.00,0.00,0.00,0.00,0.00,1.0,0.00,0.00,0.2500,0.0000,NaN,NaN,NaN
3,67836,Wdr83,mRNA,176.00,160.00,146.00,149.00,157.00,194.0,169.00,120.00,160.0000,157.7500,-0.034184,0.672733,0.819578
4,432552,Fam71b,mRNA,0.00,0.00,0.00,1.00,0.00,0.0,0.00,0.00,0.0000,0.2500,NaN,NaN,NaN

In [10]:
df.isna()

,Gene ID,Gene Symbol,Type,control1 Read Count,control2 Read Count,control3 Read Count,control4 Read Count,model1 Read Count,model2 Read Count,model3 Read Count,model4 Read Count,model Average Read Count,control Average Read Count,log2 (model/control),Pvalue(control-vs-model),Qvalue (control-vs-model)
0,False,False,False,True,True,True,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22894,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22895,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22896,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22897,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22898,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
df.describe()

,control1 Read Count,control2 Read Count,control3 Read Count,control4 Read Count,model1 Read Count,model2 Read Count,model3 Read Count,model4 Read Count,model Average Read Count,control Average Read Count,log2 (model/control),Pvalue(control-vs-model),Qvalue (control-vs-model)
count,18802.000000,18802.000000,18802.000000,18802.000000,18802.000000,18802.000000,18802.000000,18802.000000,18802.000000,18802.000000,18013.000000,18013.000000,18013.000000
mean,1482.368456,1506.210951,1419.747133,1498.867923,1547.296388,1585.237301,1547.737886,1527.083616,1551.838798,1476.798616,-0.067973,0.215234,0.290293
std,4465.061770,4491.571305,4291.012564,4613.903461,5013.688269,4999.441450,4841.821196,4823.279166,4912.866715,4457.377686,0.512654,0.298222,0.343900
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-8.020169,0.000000,0.000000
25%,34.000000,35.000000,34.000000,37.000000,31.000000,36.000000,33.002500,34.000000,34.252500,35.500000,-0.180648,0.000004,0.000029
50%,404.000000,412.470000,388.000000,406.000000,385.000000,405.935000,395.000000,398.000000,397.000000,402.278750,-0.048197,0.036651,0.102565
75%,1449.000000,1469.000000,1390.000000,1444.750000,1445.060000,1492.920000,1453.817500,1442.135000,1458.658125,1439.400625,0.077229,0.375743,0.581887
max,263205.000000,249045.000000,246942.000000,290216.000000,327618.000000,311265.000000,281758.000000,305843.000000,306621.000000,262352.000000,9.828537,0.999683,1.000000